.container {
  display: flex;
  flex-direction: column; /* Untereinander anordnen */
  gap: 10px; /* Abstand zwischen den Elementen */
}
.question {
  background-color: #F9FAFB;
  padding: 20px;
  border-radius: 10px;
}
.answer {
  background-color: #F9FAFB;
  padding: 10px;
  border-radius: 10px;
  max-width: 400px;
}