.container {
  background-color: #F9FAFB;
  display: flex;
  flex-direction: column; /* Untereinander anordnen */
  align-items: center; /* Zentriert die Elemente horizontal */
  justify-content: center;
  border-radius: 35px;
  min-width: 600px;
  min-height: 300px;
  font-weight: bold; /* Hebt die Frage hervor */
  font-size: x-large; /* Größere Schriftgröße für die Frage */
}
