@if (quizRunning$ | async) {
  
    @let index = currentQuestion$ | async;
    @let quizMode = quizMode$ | async;

    @if ((index !== null) && (index !== undefined)) {
    
    <!-- If we have a valid question, we get it from the allQuestions Array -->
    @let question = allQuestions()[index];
    
    <!-- We display the data here-->
    <div class="container">
        <div class="question">
            {{ question?.question }}
        </div>
      
        <div class="answers-grid">
    
        <!-- Depending on question type, the wnsers will be displayed differently
        or have different functionality -->
        @if (question.type === 'fill-in') {
            <div class="answer">
            Fill-In Answer will go here.
            </div>
        } @else {
            @for (opt of question?.options; track opt;) {
                <!-- now tests against an array-->
                <div
                    class="answer"
                    (click)="selectAnswer(opt)"
                    [class.selected]="isAnswerSelected(opt)"
                    [class.correct]="isAnswerSelected(opt) && opt === question?.correctAnswer && quizMode === 'partial-exam'"
                    [class.wrong]="isAnswerSelected(opt) && opt !== question?.correctAnswer && quizMode === 'partial-exam'"
                    >
                    {{ opt }}
                </div>
            }
        }   
        </div>
    </div>
    
    <div class="navigation">
        <button (click)="previousQuestion()" [disabled]="index === 0">
            last question
        </button>
        <div>Wrong Answers: {{ wrongAnswersCount$ | async }}</div>
        <button (click)="nextQuestion()" [disabled]="index === allQuestions().length - 1">
            next question
        </button>
    </div>
  } @else {
    <p>Loading question...</p>
  }

} 
@else {

    @let quizMode = quizMode$ | async;

    <div class="start-quiz-container" >
        @switch (quizMode) {
            @case ('partial-exam') {
                <div>
                    <p class="warning">In Partial Exam mode, wrong answers will be tracked. Try to minimize mistakes!</p>
                    <div (click)="userStartQuiz()" class="start-quiz">Start Partial Exam</div>
                </div>
            }
            @case ('full-exam') {
                <div>
                    <p class="warning">In Full Exam mode, the Exam will end with 8 wrong answers.Try to minimize mistakes!</p>
                    <div (click)="userStartQuiz()" class="start-quiz">Start Full Exam</div>
                </div>
            }
            @default {
                <p>Something went wrong</p>
            }
        }
  </div>

}