@if (quizRunning$ | async) {
  
  @let index = currentQuestion$ | async;

  @if ((index !== null) && (index !== undefined)) {

    @let question = allQuestions()[index];

    <div class="container">
      <div class="question">
        {{ question?.question }}
      </div>

      <div class="answers-grid">

        @if (question.type === 'single-choice' || question.type === 'fill-in') {
          <div
                class="answer">
                {{ question.correctAnswer}}
            </div>
        } @else {
          @for (opt of question?.correctAnswer; track opt) {
            <div
                class="answer">
                {{ opt }}
            </div>
          } 
        }   
        </div>
    </div>

    <div class="navigation">
      <button (click)="previousQuestion()" class="last-question-button" [disabled]="index === 0">
        last question
      </button>

      <button (click)="nextQuestion()" class="next-question-button" [disabled]="index === allQuestions().length - 1">
        next question
      </button>
    </div>
  } @else {
    <p>Loading question...</p>
  }

} 
@else {

  <button (click)="startQuiz()" class="start-quiz">
    Please start the quiz to display the content.
  </button>

}