html, body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center; /* horizontal zentrieren */
  align-items: center;     /* vertikal zentrieren */
}

:host {
  display: block;
  height: 100vh;
}